# Have aws-vault use the login keychain for better timeout behavior
export AWS_VAULT_KEYCHAIN_NAME=login

# Have chamber use the default SSM alias
export CHAMBER_KMS_KEY_ALIAS=aws/ssm

# Root profile name
export AWS_ROOT_PROFILE="trussworks-org-root"

# Profile id
export AWS_ID_PROFILE="trussworks-id-base"

# Nix config
export NIX_PROFILE=/nix/var/nix/profiles/ephemeral-env
PATH_add ${NIX_PROFILE}/bin
PATH_add ./node_modules/.bin
export NPM_CONFIG_PREFIX=$PWD/.npmglobal
PATH_add ./.npmglobal/bin

# Load a local overrides file. Any changes you want to make for your local
if [ -e .envrc.local ]
then
  source_env .envrc.local
fi
